0-dft
afl-analyze
afl-as
afl-clang
afl-clang++
afl-clang-fast
afl-clang-fast++
afl-fuzz
afl-g++
afl-gcc
afl-gotcpu
afl-showmap
afl-llvm-pass.so
afl-tmin
as
*.o
*.so

## VS Code
.vscode

## Mac OS
.DS_Store

## ninja
*.ninja
.ninja*

## cmake
*.cmake
CMakeCache.txt
